*{
	
	margin: 0;
	padding: 0;
	
}

body{
	background-color:white;
	overflow:hidden;
}

.gamecontainer
{
	background-image: url(backk.png);
     background-repeat:no repeat;
     background-size:100vw 100vh;	 
     width: 100%;
	 height:100vh;
}
#scoreCount{
	position:relative;
	top:5px;
	left:20px;
	font-family:Britannic;
	color:black;
	font-size:22;
}
.dino
{
	background-image:url(char.png);
	background-repeat:no-repeat;
    background-size:cover;
	width:200px;
    height:200px;	
	position:absolute;
	bottom:0; 	
}
.obstacle{
	background-image: url(zombi.png);
	width: 150px;
	height:200px;
	background-size:cover;
	position:absolute;
	bottom: 0;
	left: 50vw;
	
	
	
}
.gameOver{
	
	position: relative;
	top:55px;
	font-size:50px;
	text-align:center;
	color:white;
	font-family:Britannic;
}
.animateDino{
	animation: dino 0.6s linear;
	
}
@keyframes dino{
	
		0%{
		bottom:0;
	}

	50%{
		bottom:350px;
	}
	100%{
		bottom: 0;
		
	}
}
.obstacleAni{
	animation:obstacleAni 5s linear infinite;
}
@keyframes obstacleAni{
	
	0%{
		left:100vw;
		
	}

	100%{
		left: -10vw;
	}
}
